<details id="message-{{ message.id }}" class="{{ message.id in matches ? 'matched' : '' }}">
    <summary>
        {{ message.headers.From }}
        &middot;
        <time datetime="{{ message.timestamp|date('c') }}"
              title="{{ message.timestamp|date('r') }}">{{ message.date_relative|e }}</time>
    </summary>
    <h4>{{ message.headers.Subject }}</h4>

    <div class="message-body">
        {{ message.body|raw }}
    </div>

    {% if message.attachments %}
        <div class="card">
            <p><strong>Attachments:</strong></p>
            <ul>
                {% for attachment in message.attachments %}
                    <li>
                        <a href="/attachment?id={{ message.id|url_encode }}&part={{ attachment.part }}">{{ attachment.filename|e }}</a>
                        (<span>
                    {{ attachment.content_type|e }},
                    {{ attachment.disposition|e }}
                </span>)
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</details>
