{% extends isSwap ? "fragment.html.twig" : "base.html.twig" %}

{% block body %}
    <div class="search-results">
        {% if threads is empty %}
            <p class="muted">No threads matched.</p>
        {% else %}
            <ul class="search-results-list">
                {% for thread in threads %}
                    <li class="thread" data-id="thread-{{ thread.id }}">
                        <div class="title">
                            <a href="/thread/{{ thread.id }}?m={{ thread.matches|join(' ')|url_encode }}"
                               data-swap="[data-id=thread-{{ thread.id }}] .content"
                               data-swap-opts="toggle"
                            >{{ thread.subject }}</a>

                            {% for tag in thread.tags|filter( v => v != "attachment") %}
                                <span class="tag is-small bd-primary">{{ tag|e }}</span>
                            {% endfor %}

                            {% if "attachment" in thread.tags %}
                                <span title="has attachments">📎</span>
                            {% endif %}
                        </div>
                        <div class="meta">
                            <time datetime="{{ thread.timestamp|date('c') }}"
                                  title="{{ thread.timestamp|date('r') }}">{{ thread.date_relative|e }}</time>
                            &middot;
                            <span>matched {{ thread.matched }} of {{ thread.total }} messages</span>
                            <br>
                            <span>{{ thread.authors }}</span>
                        </div>
                        <div class="content"></div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
